<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.INTERNET" />
  <!-- Atualizacao automatica: abrir o instalador com o APK novo da release -->
  <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
  <application android:allowBackup="false" android:icon="@drawable/app_icon" android:label="PKHeX Modern">
    <provider android:name="androidx.core.content.FileProvider"
              android:authorities="io.github.carlosmozart.pkhexmodern.updates"
              android:exported="false" android:grantUriPermissions="true">
      <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/update_paths" />
    </provider>
  </application>
</manifest>
